<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">

     <!---FONTS-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     <!---Capriola and Poppins Fonts-->

</head>
<body>
    <div class="header_bg">
        <div class="container">
            <div class="header">
                <a href="/main" class="logo_link">
                        <div class="logo">
                        <img src="/images/header/heading.svg" alt="logo" id="logo_header">
                        <img src="/images/header/tm.svg" alt="logo_tm" id="logo_tm">
                    </div>
                </a>
                <div class="navi">
                    <a href="/daily_digest"><span>Daily Digest</span></a>
                    <a href="/design_tools"><span>Design Tools</span></a>
                    <a href="/tutorials"><span>Tutorials</span></a>
                </div>
                <a href="#subscribe_now">
                    <div class="btn">Subscribe</div>
                </a>
            </div>
        </div>
    </div>
    <div class="main_header_bg">
        <div class="container">
            <div class="main_header">
               
                <h2>Minimal blog template for creative expressions</h2>
                <span>100% customisable and SEO-friendly blog template for personal and commercial purposes.</span>
            </div>
        </div>
    </div>
    <div class="main_header_latest_bg">
        <div class="container">
            <div class="main_header_latest">
                    <!--WORK WITH DATABASE:MVC-->
<!--Daily Digest MODEL-->
                <div id="daily_digest" class="content_box">
                    <div class="section_header">
                        <span>Daily Digest</span>
                        <a href=""><div class="btn_view_all">View all</div></a>
                    </div>
                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    
                </div>
<!--DESIGN TOOLS MODEL-->
                <div id="design_tools" class="content_box">
                    <div class="section_header">
                        <span>Design Tools</span>
                        <a href=""><div class="btn_view_all">View all</div></a>
                    </div>
                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                </div>
<!--TUTORIALS MODEL-->
                <div id="tutorials" class="content_box">
                    <div class="section_header">
                        <span>Tutorials</span>
                        <a href=""><div class="btn_view_all">View all</div></a>
                    </div>
                    <div class="section_main">
                        <div class="section_main_date_text">
                             <div class="section_main_date">
                                  <span>august 13, 2021</span>
                             </div>
                            <div class="section_main_text">
                                <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>

                    <div class="section_main">
                        <div class="section_main_date_text">
                            <div class="section_main_date">
                                <span>august 13, 2021</span>
                            </div>
                            <div class="section_main_text">
                                 <h4>10 Hilarious Cartoons That Depict Real-Life Problems of Programmers</h4>
                                 <span>Redefined the user acquisition and redesigned the onboarding experience, all within 3 working weeks.</span>
                            </div>
                        </div>
                        <div class="section_main_image"><img src="/images/daily_digest/d_d.1.png" alt=""></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
                        <!---FOOTER-->
    <div class="bg_footer">
        <div class="container">
            <div class="footer">
                <div class="footer_main">
                    <div class="subscribe_menu" id="subscribe_now">
                        <h4>personally newsletter</h4>
                        <span>A bi-weekly newsletter of design inspiration, resources and anything related to career development.</span>
                        <div class="subscribe_form">
                            <div class="subscirbe_email"><input type="email" title="Email" placeholder="Email address"></div>
                            <div class="subscribe_btn"><button>Subscribe</button></div>  
                        </div>
                    </div>
                </div>
                <div class="footer_bot"><span>Copyright (2024) - Daniil Glazov</span></div>
            </div>
        </div>
    </div>
</body>
</html>